@font-face { font-family: Harabara; src: url(Harabara.woff); }
@font-face { font-family: PoetsenOne-Regular; src: url(PoetsenOne-Regular.woff);}
@font-face { font-family: Sketch_Block; src: url(Sketch_Block.woff); }



/*-------------------------------------------------*/


#header {
  position: relative;
  margin-bottom: 125px;
}

#content{
  position: relative;
}
#page {
  position: absolute;
  right: 10%;
  width: 80%;
}

#footer{
  position: relative;
}









