<!DOCTYPE html>
<html>

<body>

<div ng-app="" ng-controller="infoClientController">
	<input type="text" ng-model="idClient">
	First Name: <input type="text" ng-model="person.firstName"><br>
	Last Name: <input type="text" ng-model="person.lastName"><br>
	<br>
	Full Name: {{person.firstName + " " + person.lastName}}

</div>

<script>
function infoClientController($scope, $idClient) {
    $scope.person = {
        firstName: "",
        lastName: "Doe"
    };
}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

</body>
</html>

